.Bet.Container{
    width: 35vw;
    min-height: 45vh;
    margin-top: 5vh;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.bet__title{
    color: var(--primary);
    font-size: 2.4em;
    animation: color 2s ease infinite;
}



@keyframes color {
    0%{
        color: var(--primary);
    }
    20%{
        color: var(--red);
    }
    40%{
        color: var(--light-blue);
    }
    60%{
        color: var(--pink);
    }
    80%{
        color: var(--yellow);
    }
    100%{
        color: var(--primary);
    }
}